ENV_REGISTRY=ttl.sh
ENV_PROJECT_ID=test-run-project-id
ENV_REGION=test-run-region
ENV_WORKLOAD_IDENTITY_PROVIDER=test-run-wip
ENV_SERVICE_ACCOUNT=test-run-service-account
ENV_RUN_SERVICE=test-run-service
