ENV_IMAGE_PREFIX=ttl.sh/ivanov-gv/zpcg/dry-run
ENV_PROJECT_ID=dry-run-project-id
ENV_REGION=dry-run-region
ENV_WORKLOAD_IDENTITY_PROVIDER=dry-run-wip
ENV_SERVICE_ACCOUNT=dry-run-service-account
ENV_RUN_SERVICE=dry-run-service